body {
	font-family: 'Press Start 2P', cursive;
	background:yellow;
	overflow: hidden;
}

h1 {text-align:center}
img {display:block;
	margin:0 auto;}

#canvas {
	height:600px;
	border: 1px solid #000;
}

#canvas-container {
	width:800px;
	margin:0 40px;
	background:#fff;
}

.row {overflow:hidden;}

.pull-left{float:left;}
.pull-right{float:right;}
